@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header {
  width: 100%;
  padding: 26px 115px;
  /* margin: 0 auto; */
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

.header_li {
  display: inline-block;
  vertical-align: middle;
}
.header_nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0 190px;
}
a {
  display: inline-block;
  margin-left: 50px;
  color: #696969;
  font-size: 18px;
  font-weight: 400;
}
.header_li:first-child a {
  margin-left: 0;
}
.btn {
  padding: 13px 30px;
  background-color: #ff5403;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.logo {
  vertical-align: middle;
}
main {
  width: 100%;
  height: 722px;
  background-image: url("../Images/banner_bg\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 120px;
}
h1 {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 85px;
  color: #fff;
}
.main_para {
  font-size: 20px;
  color: #fff;
  margin: 5px 0 50px 0;
}
.main_div {
  position: absolute;
  text-align: center;
  /* top:231px;
    right: 412px;
    bottom: 230px;
    left: 413px;  */
  /* შეიძლება ასე რომ გავცენტროთ თუ რესპონსივზე შეგვექმნება შემდეგ პრობლემა?? */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cards_section {
  text-align: center;
  margin: 157px auto;
  /* border: solid,2px, red; */
  width: 1312px;
}

.section_title {
  color: #041562;
  font-size: 36px;
  font-weight: 600;
  /* line-height: 100px; */
  letter-spacing: 2px;
}
.section_para {
  color: #626262;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 75px;
  margin-top: 20px;
}

.card_one,
.card_two {
  position: relative;
  display: inline-block;
}
.card_one {
  margin-right: 45px;
  margin-bottom: 45px;
}

h4 {
  position: absolute;
  bottom: 30px;
  left: 25px;
  color: #fff;
}
.dsc_more {
  margin-top: 30px;
}
.places {
  width: 1312px;
  height: 710px;
  text-align: center;
  margin: 132px auto;

  /* border: solid,2px, red; */
}
.images {
  display: inline-block;
}
h5 {
  font-size: 24px;
  color: #000000;
}
h6 {
  color: #626262;
  font-size: 18px;
  margin-bottom: 10px;
}
span,
.star {
  color: 18px;
  vertical-align: middle;
}
p {
  color: #626262;
  font-size: 18px;
}
.price {
  color: #ff5403;
  size: 18px;
}
.one {
  margin-left: 0px;
  margin-right: 45px;
}
.three {
  margin-left: 45px;
  margin-right: 0px;
}
footer {
  height: 454px;
  background-color: #19224d;
  padding: 108px 100px 96px 100px;
}
.footer_logo {
  display: inline-block;
  vertical-align: middle;
}
.footer_div1 {
  display: inline-block;
  margin: 0px 158px;
  vertical-align: middle;
}
.footer_div2 {
  display: inline-block;
  vertical-align: middle;
}

h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer_li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}
.phone,
.email {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  /* ვეერაფერი მოვუხერხე, მაინც შუიდან იწყებს :// */
}
.footer_li2 {
  color: #ff5403;
  margin-bottom: 8px;
}
.footer_div2 .footer_icons {
  margin-left: 0;
  margin-right: 15px;
  vertical-align: middle;
}
.copyright {
  height: 65px;
  background-color: #000b3e;
  text-align: center;
  padding: 23px 0 23px 0;
}
.copyright_para {
  font-size: 16px;
  color: #c4c4c4;
}
.about_us {
  background-image: url("/Images/banner_bg\ 1.jpg");
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #041562;
  padding-top: 120px;
  background-position: top;
}

article {
  height: 431px;
  width: 1312px;
  margin: 160px auto;
  padding-left: 111px;
}
.article_logo {
  display: inline-block;
  vertical-align: middle;
}
.article_div {
  display: inline-block;
  width: 456px;
  height: 370px;
  margin-left: 50px;
  vertical-align: middle;
}
.article_span {
  color: #ff5403;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.article_title {
  display: inline-block;
  font-size: 32px;
  color: #041562;
  margin: 25px 0;
}
.bali {
  background-image: url(/Images/bali2.jpg);
  height: 879px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* width: 100%; */
}
.bali_indonesia {
  background-color: #fff;
  padding: 59px;
  width: 641px;
  height: 500px;
  position: absolute;
  top: 118px;
  bottom: 145px;
  right: 443px;
  left: 546px;
}
.article_btn {
  border-radius: 50%;
  width: 86px;
  height: 86px;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -43px;
  /* transform: translate(-50%); */
}

.bali_span {
  color: #ff5403;
}
.bali_title {
  color: #041562;
  font-weight: 600;
  font-size: 32px;
  margin: 15px 0 25px 0;
}
.bali_para {
  color: #626262;
}
.date,
.cost,
.organizer {
  display: block;
  margin: 30px 0;
}

.rating {
  display: inline;
  font-size: 20px;
  vertical-align: middle;
}

.Star {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.Plan_Details {
  display: block;
  width: 198px;
  height: 52px;
  background-color: #ff5403;
  margin-top: 52px;
}
.btn-text {
  color: #fff;
}
.article_btn2 {
  border-radius: 50%;
  width: 86px;
  height: 86px;
  color: #df3131;
  position: absolute;
  top: 50%;
  left: 770px;
  transform: translateY(-50%) rotate(180deg);
}
.services_title {
  margin: 40px 0 10px 0;
}
